
.card {
    background-image: url("../Assets/Images/card-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.category_list li.selected {
    background-color: white
}
.selectList li.selected {
    background: #e5e7eb;
    position: relative;
}


.selectList li.selected::after {
    position: absolute;
    content: "✅";
    width: 10px;
    height: 10px;
    right:15px;

}