
.card {
    background-image: url("../Assets/Images/card-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* start pagination  */
.pagination {
  margin-top: 32px;
    justify-self: center; 
  }


  .pagination ul li {
    /* background-color: white; */
    color: rgb(4, 4, 24);
    margin: 6px ;

  }

.pagination ul .selected {
    background-color: rgb(4, 4, 24);
    color: white;
  }
/* end pagination  */


  