
/* start header */
.header-tools {
    display: flex;
}
.burger-icon  {
    display: none;
}



@media (min-width: 768px) {
    .nav-links {
        display: none;
    }
}
@media (max-width: 768px) {
   .header-tools {
    display: none;
   }

   .links {
    display: none;
   }

   .burger-icon  {
    display: flex;
    }
    .burger-icon span {
        border-radius: 2px;
        height: 2px;
        width: 100%;
        background-color: white;
    }
}

/* End header */
.promo-section{
    background-image: url('../Assets/Images/background.png');
}